:root {
  --g1: #107657;
  --g2: #1F9873;
  --g3: #37AB88;
  --g4: #58C7A5;
  --g5: #85E1C5;

  --white: #fdfdfd;
  --white2: #e9e9e9;

  --black: #212121;
  --gray: #878787;

  --font-primary: 'Ubuntu', sans-serif;
  --font-condensed: 'Ubuntu Condensed', sans-serif;

  --big-responsive-font: calc(72px + (56 - 24) * (100vw - 360px)/(960-360));
  --medium-responsive-font: calc(48px + (48 - 20) * (100vw - 360px)/(960-360));
  --small-responsive-font: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
  --tiny-responsive-font: calc(24px + (24 - 12) * (100vw - 360px)/(960-360));
  --teeny-responsive-font: calc(16px + (20 - 12) * (100vw - 360px)/(960-360));
  --space: calc(3vw + (-1 * (3px + (5 - 1) * (100vw - 360px)/(960-360))));
  --space2: calc(-1 * (32px + (32 - 16) * (100vw - 360px)/(960-360)));
  --space3: calc(3vw + (1px + (3 - 1) * (100vw - 360px)/(960-360)));
}

html, body {
  margin: 0 auto;
  background: var(--g1);
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav {
  height: 72px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav img.hide {
  display: none;
  transition: opacity .2s ease;
}

nav img {
  margin-top: 16px;
  opacity: 1;
  transition: opacity .2s ease;
}

nav.invert {
  background-color: var(--white);
}

nav img:nth-child(1),
nav img:nth-child(2) {
  height: 24px;
  width: auto;
  margin-left: 5vw;
}

nav img:nth-child(3),
nav img:nth-child(4) {
  height: 24px;
  width: auto;
  margin-right: 5vw;
}

div.nav-links {
  position: absolute;
  top: 72px;
  left: 0px;
  background-color: var(--white);
  margin: 0 auto;
  width: 100%;
  margin-top: -1px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(33,33,33,1);
  -moz-box-shadow: 0px 2px 16px 0px rgba(33,33,33,1);
  box-shadow: 0px 2px 16px 0px rgba(33,33,33,1);
}

div.nav-links-links img {
  height: 40px;
  width: auto;
  margin-left: 12px;
}

ul.inner-content {
  margin-left: calc(5vw - 2px);
  margin-top: 24px;
  margin-bottom: 24px;
  width: 75%;
  color: var(--black);
  font-family: var(--font-primary);
}

ul.inner-content li {
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

ul.inner-content li.products {
  margin-bottom: 0;
}

ul.inner-content li.hide {
  display: none;
}

ul.inner-content li > img {
  transition: transform .16s ease;
  height: 14px;
  display: inline;
  margin-left: 8px;
  margin-top: 4px;
}

ul.inner-content li > img:hover {
  cursor: pointer;
}

img.flip {
  transition: transform .16s ease;
  transform: rotateX(180deg);
}

div.nav-links-links {
  position: absolute;
  top: 24px;
  right: calc(5vw - 2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
  margin-bottom: 32px;
  width: 20%;
}

div.nav-links.hide {
  display: none !important;
}

div.nav-links-links img {
  margin-bottom: 16px;
}

ul.products-list {
  width: 100%;
}

ul.products-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

ul.products-list li > div:nth-child(1) {
  width: 25%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.products-list li i {
  color: var(--black);
  font-size: 24px;
}

ul.products-list li > div:nth-child(2) {
  width: 72%;
}

ul.products-list li > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul.products-list li > div:nth-child(2) > div > h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 8px;
}

ul.products-list li > div:nth-child(2) > div > p {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
  line-height: 1.1;
}

nav img:hover {
  cursor: pointer;
}

header {
  height: calc(100vh - 72px);
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header h1 {
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 700;
  text-align: left;
  color: var(--white);
  /*margin: 0 auto;*/
  margin-left: -2px;
}

header p {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 300;
  color: var(--g5);
  /*margin-left: 23px;*/
  margin-right: 24px;
  margin-bottom: 32px;
}

header button {
  /*margin-left: 24px;*/
  background-color: var(--g2);
  border-radius: 2px;
  border: none;
  padding: 16px 24px;
  font-size: 18px;
  line-height: var(--tiny-responsive-font);
  color: var(--white);
}

header button:hover {
  background-color: var(--g5);
  transition: all .2s ease;
  cursor: pointer;
}

header button,
header button:hover,
header button:active {
  outline: none;
}

/*main {
  margin-top: 100vh;
}*/

main section {
  background-color: #fdfdfd;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #212121;
}

section {
  font-family: var(--font-primary);
}

section h2 {
  font-size: var(--small-responsive-font);
  margin-bottom: 16px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section > p {
  font-size: var(--tiny-responsive-font);
  font-family: var(--font-primary);
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  font-weight: 300;
  line-height: 1.6em;
}

section:nth-child(1) img {
  width: 192px;
  height: auto;
  margin-top: 16px;
  margin-left: calc(50vw - 96px);
  margin-bottom: 32px;
}

main section:nth-child(2) {
  background-color: var(--black);
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: var(--white);
}

section:nth-child(2) h2 {
  margin-bottom: 48px;
  color: var(--white);
}

div.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 48px 5vw;
  flex-wrap: wrap;
}

div.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.project-info h3 {
  font-size: var(--small-responsive-font);
  color: var(--white);
  margin-bottom: 8px;
}

div.project-info p {
  font-family: var(--font-primary);
  font-size: var(--teeny-responsive-font);
  line-height: 1.6;
  color: var(--white);
  margin-bottom: 12px;
  font-weight: 300;
}

div.project-info p a {
  font-weight: 400;
  opacity: 1;
}

div.project-info p:nth-child(2) {
  margin-bottom: 24px;
  opacity: .7;
}

div.project:nth-child(3) {
  margin-bottom: 0;
}

main section div.project > img {
  width: 45%;
  max-width: 480px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: auto;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--g3);
  font-size: var(--teeny-responsive-font);
  transition: color .2s ease;
}

a:hover {
  color: var(--g4);
}

@media screen and (max-width: 640px) {
  div.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 480px;
    width: calc(100vw - 48px);
    margin: 48px 24px;
  }

  main section div.project > img {
    width: 100%;
    align-self: center;
    max-width: 480px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: auto;
  }

  div.project-info {
    width: 100%;
  }
}
